.menu_content
{
        padding: 10px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
}

.menu_content a
{
        color: black;
}

.menu_content a:hover
{
        color: #6593d4;
}

.menu_content .button a
{
        display: block;
        border: 3px outset #6593d4;
        margin-left: 3px;
        margin-right: 3px;
        background: #78abf8;
        color: white;
        text-align: center;
        text-decoration: none;
        float: left;
        width: 148px;
}

.menu_content .button a:hover
{
        border: 3px inset #6593d4;
        background: white;
        color: black;
}

.menu_content .currentbutton a
{
        display: block;
        border: 3px inset #6593d4;
        margin-left: 3px;
        margin-right: 3px;
        background: white;
        color: black;
        text-align: center;
        text-decoration: none;
        float: left;
        width: 148px;
}

.menu_content .currentbutton a:hover
{
        border: 3px inset #6593d4;
        background: white;
        color: black;
}

.menu_content ul
{
        padding: 0;
        margin: 2px 0 4px 20px;
        font-size: 75%;
}